---
const { href, title, leftIcon } = Astro.props;
---

<a
  href={href}
  target="_blank"
  class="bg-slate-700 text-white flex flex-grow justify-between items-center max-w-md w-full rounded-lg px-5 py-1 transition-all duration-300 ease-in-out relative group hover:bg-slate-600 hover:tracking-[2px] before:absolute before:bottom-0 before:left-0 before:w-full before:h-full before:bg-transparent before:rounded-lg before:transition-all before:duration-200 before:ease-in-out before:opacity-0 before:border-2 before:border-white before:border-opacity-50 before:scale-0 hover:before:opacity-100 hover:before:scale-100"
>
  <i class="material-icons text-2xl p-2">
    <img
      src={`/img/${leftIcon}`}
      alt={`Go to ${title}`}
      class="w-9 h-9 group-hover:scale-125 transition-all duration-300 ease-in-out"
    />
  </i>
  <span class="text-xl">{title}</span>
  <i class="material-icons text-2xl p-2">
    <img
      src="/img/goto.svg"
      alt={`Go to ${title}`}
      class="w-9 h-9 group-hover:scale-125 transition-all duration-300 ease-in-out"
    />
  </i>
</a>
